<html>
 <head>
     <title>Welcome</title>
     <script type="text/javascript" src="widget.js"></script>
     <script type="text/javascript">

           var obj  = new custom(100,5,'div1') 
		function load(){
		
			obj.render('div1')		

					
		}

	</script>
 </head>
 <body onload="load()">
	 <div id='div1'></div>
	 <input type="button" value="press me" name="" id="">
   

   <script src="jquery-3.4.0.js"></script>
    <script type="text/javascript" src="ajax.js"></script>
 </body>
</html>
